<ul id="comments" class="comment-<%=comment.id%>">
	<li>
		<h4><%= comment.user.email %></h4>
		&nbsp
		<%= comment.content %>
		<br>
		<br>
		<% if user_signed_in? %>
			<span id="comment-<%=comment.id%>-like">
				<%=render 'comments/like_comment',comment:comment%>
			</span>
			
		<%else%>
			<%= comment.likes.count%>  <i class="fas fa-thumbs-up" style="font-size:20px;color:#41a7d4">Likes</i>

		<%end%>
		<% if user_signed_in? && comment.user_id ==  current_user.id %>
				| <%= link_to destroy_comment_path(comment.id), method: :delete, remote:true do%>
			<i class="fas fa-trash-alt" style="font-size:16px;color:red"></i>
			<% end %>
		<%end%>	
	</li>
</ul>