
<%- if controller_name != 'sessions' %>
  <%= button_to "Log in", new_session_path(resource_name),:class => "btn btn-outline-info" %>
<% end -%>
<br>
<div class="btn-group mr-2 " role="group">
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= button_to "Sign up", new_registration_path(resource_name),:class => "btn btn-outline-info" ,method: :post %><br />
<% end -%>
&nbsp
&nbsp
&nbsp
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to omniauth_authorize_path(resource_name, provider),class: "btn btn-outline-danger" do%>
    	<i class="fab fa-google-plus-g" style="font-size:20px">&nbsp Google</i>
  	<% end -%>  
  <% end -%>
<% end -%>
</div>
<br>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>
<br>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
