<main id="posts-home">

	<div></div>

	<div class="deewar-posts">
		<% if user_signed_in? %>
			<div class="new-post-form">
			<%= form_for @post, html: { multipart: true },remote:true do |f| %>
				<%= f.text_area :content,id:"textContent" %>
				<%= f.file_field :image %>
 
				<br>
				<%= f.submit %>
			<% end %>
			</div>
		<% end %>
		

		<div class="post-form">
			
			<% @posts.reverse.each do |post| %>
				<%= render 'post',post:post%>
			<% end %>
			


		</div>
		

	</div>


	<div></div>

</main>




