<!DOCTYPE html>
<html>
  <head>
    <title>Connecti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body>
  	<header>
      <div id="part1">
        <button><i class="fa fa-reorder" style="font-size:25px; color: white"></i></button>
      </div>
      <div id="part2">
        <h1>Pitchers</h1>
      </div>
      <div class='auth-info-links'>
        <% if user_signed_in? %>
        <p ><%= current_user.email %></p>
        <p ><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>

        <% else %>

          <p ><%= link_to "Sign In", new_user_session_path %></p>
          <p ><%= link_to "Sign Up", new_user_registration_path %></p>
        <% end %>
      </div>


  </header>


    <%= yield %>
    <footer>
      <div class="icons">
       <a href="https://www.twitter.com/"><i class="fab fa-twitter" style="font-size:20px;color:white"></i></a>
       <a href="https://www.facebook.com/"><i class="fab fa-facebook-f" style="font-size:20px;color:white"></i></i></a>
       <a href="https://www.instagram.com/"><i class="fab fa-instagram" style="font-size:20px;color:white"></i></a>
       <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in" style="font-size:20px;color:white"></i></a>
       <a href="https://www.quora.com/"><i class="fab fa-quora" style="font-size:20px;color:white"></i></a>
     </div>
       <h6>@All Rights Reserved</h6>
       <h5>Mandeep Sidhu | Amadhya Anand</h5>
    </footer>

  </body>
</html>






