<!DOCTYPE html>
<html>
  <head>
    <title>Connecti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu" rel="stylesheet">
  </head>

  <body>
  	<header>
      <div id="part1">
        <button><i class="fa fa-reorder" style="font-size:25px; color: white"></i></button>
      </div>
      <div id="part2">
        <h1>Pitchers</h1>
      </div>
      <div class='auth-info-links'>
        <% if user_signed_in? %>
        <p ><%= current_user.email %></p>
        <p ><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>

        <% else %>

          <p class="display-inline"><%= link_to "Sign In", new_user_session_path %></p>
          <p class="display-inline"><%= link_to "Sign Up", new_user_registration_path %></p>
        <% end %>
      </div>


  </header>


    <%= yield %>
  </body>
</html>






